$bgColor1: #ff9760;
$bgColor2: #ef7927;
$bgColor3: #794caf;
$bgColor4: #5a249a;
$bgColor5: #535dc3;
$bgColor6: #2f3892;
$bgColor7: #258ff0;
$bgColor8: #136cbd;
$bgColor9: #c0c1c4;
$bgColor10: #888888;
$bgColor11: #FAF9FF;

$color1: #ffffff;
$color2: #b9b5b5;
$color3: #7d7d7d;
$color4: #CDCACA;
$color5: #505fc3;
$color6: #4c60c6;
$color7: #919191;
$color8: #666666;
$color9: #868181;
$color10: #d8c0f5;
$color11: #ccc;
$color12: #d8c0f5;
$color13: #ddd;
$color14: #1F4AFB;
$color15: #777;
$color16: gray;
$color17: white;
$color18: #000;
$color19: #eaeaea;

$bgImgColor1: #0a66bc;
$bgImgColor2: #3961bb;
$bgImgColor3: #535bb9;
$bgImgColor4: #6853b5;
$bgImgColor5: #7b4bae;

@mixin padding-button1 {
	padding: 8px 12px;
} 
@mixin padding-button2 {
	padding: 8px 12px 10px 12px;
}
@mixin padding-button3 {
	padding: 5px 30px 5px 10px;
}
@mixin font-family-bold {
	font-family: "OpenSans-Semibold";
}

html {	
    --primaryBackground: #ffffff;	
	--primaryTextColor: #000000;	
	--newsLetterBackGround:#FAF9FF;	
	font-family: "Segoe UI";
}	
// dark theme	
html[data-theme="dark"] {	
    --primaryBackground: #030101;	
	--primaryTextColor: #ffffff;	
	--newsLetterBackGround:#258ff0;	
	font-family: "Segoe UI";
}	
.container-fluid{	
	background: var(--primaryBackground);	
}	
.header__button{	
	border:none;	
	padding:10px;	
	background: #efebeb;	
}

.orangeBtn {
	background: $bgColor1;
	border: 0;
	outline: none;
	color: $color1;
	@include padding-button1;
	font-family: "Graphik";
	font-size: 11px;
	margin-left: 6px;
	font-weight: 500;
	border-radius: 3px;
	transition: all 0.5s;
	&:hover {
		background: $bgColor2;
	}
}
.purpleBtn {
	background: $bgColor3;
	border: 0;
	outline: none;
	color: $color1;
	@include padding-button2;
	font-family: "Graphik";
	font-size: 10px;
	font-weight: 500;
	border-radius: 3px;
	transition: all 0.5s;
	&:hover {
		background: $bgColor4;
	}
}
.blueBtn {
	background: $bgColor5;
	border: 0;
	outline: none;
	color: $color1;
	@include padding-button2;
	font-family: "Graphik";
	font-size: 10px;
	font-weight: 500;
	border-radius: 3px;
	transition: all 0.5s;
	&:hover {
		background: $bgColor6;
	}
}
.PurpleBtn {
	background: $bgColor3;
	border: 0;
	outline: none;
	color: $color1;
	@include padding-button2;
	font-family: "Graphik";
	font-size: 13px;
	font-weight: 500;
	border-radius: 3px;
	transition: all 0.5s;
}
.lightBlueBtn {
	background: $bgColor7;
	border: 0;
	outline: none;
	color: $color1;
	@include padding-button1;
	font-family: "Graphik";
	font-size: 13px;
	font-weight: 500;
	border-radius: 3px;
	transition: all 0.5s;
	&:hover {
		background: $bgColor8;
	}
}
.grayBtn {
	background: $bgColor9;
	border: 0;
	outline: none;
	color: $color1;
	@include padding-button1;
	font-family: "Graphik";
	font-size: 11px;
	font-weight: 500;
	border-radius: 3px;
	transition: all 0.5s;
	&:hover {
		background: $bgColor10;
	}
}
/*css for custom search field starts*/
.custom_input {
	display: inline-block;
	min-width: 250px;
	background: $color1;
	position: relative;
	height: 30px;
	border: 1px solid $color2;
	border-radius: 3px;
	input {
		width: 100%;
		height: 100%;
		border: 0;
		background: transparent;
		@include padding-button3;
		font-size: 12px;
	}
	button {
		position: absolute;
		right: 0;
		top: 0px;
		bottom: 0;
		background: none;
		border: 0;
		outline: none;
		height: 100%;
		width: 30px;
		text-align: center;
		color: $color3;
	}
}
.custom_input_queue {
	display: inline-block;
	min-width: 250px;
	background: $color1;
	position: relative;
	height: 36px;
	border: 1px solid $color4;
	border-radius: 3px;
	input {
		width: 100%;
		height: 100%;
		border: 0;
		background: transparent;
		font-size: 12px;
	}
	button {
		position: absolute;
		right: 0;
		top: 0px;
		bottom: 0;
		background: none;
		border: 0;
		outline: none;
		height: 100%;
		width: 30px;
		text-align: center;
		color: $color3;
	}
}
.page_title {
	color: $color5;
	font-family: 'Graphik-Bold-Web';
	text-transform: uppercase;
	font-size: 13px;
}
.blueTxt {
	color: $color6;
	font-size: 14px;
	font-family: 'Roboto-Regular';
	text-align: center;
	display: block;
	margin-top: 10px;
}
.purpleTxt {
	color: $bgColor4;
}
.grayTxt {
	color: $color7;
}
.circle {
	border-radius: 50%;
}
.custom_queue_input {
	display: inline-block;
	min-width: 210px;
	background: $color1;
	position: relative;
	height: 30px;
	border: 1px solid $color2;
	border-radius: 3px;
	input {
		width: 100%;
		height: 100%;
		border: 0;
		background: transparent;
		@include padding-button3;
		font-size: 12px;
	}
	button {
		position: absolute;
		right: 0;
		top: 0px;
		bottom: 0;
		background: none;
		border: 0;
		outline: none;
		height: 100%;
		width: 30px;
		text-align: center;
		color: $color3;
	}
}
.custom_queue_input_type {
	input {
		width: 100%;
		height: 100%;
		border: 0;
		background: transparent;
		@include padding-button3;
		font-size: 12px;
	}
	display: inline-block;
	width: 100px;
	background: $color1;
	position: relative;
	height: 30px;
	border: 1px solid $color2;
	border-radius: 3px;
	margin-top: -40px;
	span {
		position: absolute;
		right: 0;
		top: 8px;
		bottom: 0;
		background: none;
		border: 0;
		outline: none;
		height: 100%;
		width: 30px;
		text-align: center;
		color: $color8;
	}
}

/*css for custom search field ends*/

/*  Modal PopUp CSS Starts  */

.modal-header {
	border: 0;
	background-image: -webkit-gradient(linear, left top, right top, from($bgImgColor1), color-stop($bgImgColor2), color-stop($bgImgColor3), color-stop($bgImgColor4), to($bgImgColor5));
	background-image: -webkit-linear-gradient(left, $bgImgColor1, $bgImgColor2, $bgImgColor3, $bgImgColor4, $bgImgColor5);
	background-image: -o-linear-gradient(left, $bgImgColor1, $bgImgColor2, $bgImgColor3, $bgImgColor4, $bgImgColor5);
	background-image: linear-gradient(to right, $bgImgColor1, $bgImgColor2, $bgImgColor3, $bgImgColor4, $bgImgColor5);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10px 15px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
h4.modal-title {
	color: $color1;
	text-transform: uppercase;
	font-family: 'Graphik-Medium-Web';
	font-size: 14px;
}
button.close {
	color: $color1 !important;
	opacity: 1 !important;
	text-shadow: none;
	font-weight: 100;
	font-size: 22px;
}
.modal-footer {
	border: 0;
}
.modal-body {
	.form-group {
		.control-label {
			text-align: left;
			font-family: "Roboto-medium";
			font-size: 12px;
			padding-bottom: 5px;
			font-weight: 500;
			white-space: nowrap;
		}
	}
}
.form-control {
	border: 1px solid $color9;
}
.form-group {
	margin-bottom: 10px;
}

/*  Modal PopUp CSS Ends  */

/*  CSS for Custom checkbox starts  */

/* The container */

.labelContainer {
	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked~.checkmark {
			background-color: $bgColor4;
			border: 1px solid $bgColor4;
			&:after {
				display: block;
			}
		}
	}
	.checkmark {
		&:after {
			left: 6px;
			top: 2px;
			width: 5px;
			height: 10px;
			border: solid white;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}
}
/* Create a custom checkbox */

/* On mouse-over, add a grey background color */

/* .labelContainer:hover input~.checkmark {} */

/* When the checkbox is checked, add a blue background */

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	border: 1px solid $color9;
	&:after {
		content: "";
		position: absolute;
		display: none;
	}
}
.switch {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 9px;
	input {
		opacity: 0;
		width: 0;
		height: 0;
	}
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $color11;
	-webkit-transition: .4s;
	transition: .4s;
	&:before {
		position: absolute;
		content: "";
		height: 16px;
		width: 16px;
		left: -5px;
		bottom: -3px;
		background-color: $bgColor4;
		-webkit-transition: .4s;
		transition: .4s;
	}
}
input {
	&:checked+.slider {
		background-color: $color10;
		&:before {
			-webkit-transform: translateX(20px);
			-ms-transform: translateX(20px);
			transform: translateX(20px);
		}
	}
	&:focus+.slider {
		box-shadow: 0 0 1px $color12;
	}
}
/* Rounded sliders */

.slider.round {
	border-radius: 34px;
	&:before {
		border-radius: 50%;
	}
}
/*  CSS for slider ends  */

/* CSS for pagination starts */

.pagination {
	display: inline-block;
	margin: 10px 10px 10px 0px !important;
	.firstNlast {
		background: none;
		font-size: 11px;
	}
	a {
		color: $bgColor3;
		float: left;
		padding: 6px 10px;
		text-decoration: none;
		background: $color1;
		border-radius: 5px;
		margin: 5px 7px;
		font-size: 12px;
		&:hover {
			&:not(.active) {
				background-color: $color13;
				border-radius: 5px;
			}
		}
	}
	a.active {
		border-radius: 5px;
		color: $color1;
		background-color: $bgColor3;
	}
}

/* CSS for pagination ends */

/*CSS for slim scroll starts*/

.slimScrollBar {
	background: $bgColor7 !important;
	opacity: 1 !important;
	display: block !important;
}
/*CSS for slim scroll ends*/
.ihyFki {
	.p-datatable {
		.p-datatable-tbody {
			>tr {
				>td {
					font-size: 12px;
				}
			}
		}
	}
}
body {
	.p-datatable {
		.p-datatable-tbody {
			>tr {
				>td {
					padding: 0.029em 0.857em;
				}
			}
		}
	}
}

/* element.style {} */

.settings {
	a {
		span {
			@include font-family-bold;
		}
	}
}
.table-hca {
	>tbody {
		>tr {
			>td {
				@include font-family-bold;
			}
		}
	}
}
.sd-btn-ls {
	@include font-family-bold;
}
.sd-btn-rs {
	@include font-family-bold;
}
.notification1 {
	left: 7px;
	position: absolute;
	height: 15px;
	width: 20px;
	line-height: 14px;
	top: -13px;
	background: red;
	color: $color1;
	font-size: 11px;
	border-radius: 36%;
	text-align: center;
}
/*----------------------------codehacthon---------------------------*/
.news_letter {
	background-color:var(--newsLetterBackGround);
	text-align: center;
	padding: 40px;
	input {
		border: none;
		height: 37px;
		width: 40%;
		padding: 0px 10px;
	}
	h1 {
		margin-top: 40px;
		color: var(--primaryTextColor);
	}
	p{	
		color: var(--primaryTextColor);	
	}
	form {
		margin-bottom: 40px;
	}
	button {
		height: 37px;
		background-color: $color14;
		border: 1px solid $color14;
		padding: 5px 20px;
		font-size: 14px;
		border-radius: 20px;
		color: $color1;
		margin-left: -17px;
	}
}
.error {
	color: red;
}
.footer_block {
	padding-top:40px;
	input.placeholder {
		background-color: $bgColor11;
	}
	h4 {
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 42px;
	}
}
.footer_page {
	//padding-top: 120px;
	background-color: $color1;
}
.copy {
	p {
		font-size: 14px;
	}
	margin-top: 80px;
	margin-bottom: 124px;
}
.email {
	display: flex;
}
.placeholder {
	padding-left: 10px;
	border: 0;
	width: 100%;
}
.insta {
	img {
		height: 50px;
		width: 50px;
		margin: 0 3px 3px 0;
	}
}
.list-unstyled {
	font-size: 12px;
	font-weight: 500;
	a {
		color: $color15;
		text-decoration: none;
	}
}
.margin-bottom {
	margin-bottom: 45px;
}
.social-margin {
	color: $color16;
	text-decoration: none;
	margin-bottom: 27px;
}
.icons {
	a {
		margin-right: 25px;
		color: $color15;
		text-decoration: none;
	}
}
.text-center {
	color: $color15;
}
.arrow {
	padding: 13px;
	color: $color1 !important;
	background: $color14;
	float: right;
}
.top_nav {
	p {
		float: left;
		position: absolute;
		left: 12px;
		top: 15px;
		font-size: 13px;
	}
	width: 100%;
	background-color: $color17;
}
.login_menu {
	text-align: right;
	ul {
		li {
			a {
				font-size: 12px;
			}
		}
	}
}

/*-----------------------banner and nav------------------------*/

.navbar.center {
	.navbar-collapse {
		text-align: center;
		.nav {
			float: none;
			display: inline-block;
			vertical-align: middle;
		}
	}
}
.navbar-default {
	.navbar-nav {
		>li {
			>a {
				font-weight: bold;
				&:hover {
					color: $color14;
				}
			}
		}
	}
}
.navbar-brand {
	>img {
		display: block;
		width: auto;
		max-width: 120px;
		height: auto;
		max-height: 32px;
		position: relative;
		bottom: -45px;
	}
}
.banner_image {
	img {
		//background: url('../css/banner-bg.png') no-repeat;
		width: 100vw;
		min-height: 650px;	
		height: auto;
	}
	position: relative;
	text-align: center;
	width: 100%;
}
.landing-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	h1 {
		font-size: 28px;
		color: $color1;
		font-weight: bold;
	}
}
/*-----------------------Produts-Page------------------------*/
.Products_page {
	padding: 50px 0px;
	background-color:var(--primaryBackground);
	.container {
		top: 120px;
		bottom: 140px;
		box-sizing: border-box;
	}
	.row {
		display: flex;
		flex-wrap: wrap;
	}
	.img-changes {
		margin-right: 30px;
		margin-bottom: 18px;
	}
	.col-md-2 {
		width: 20%;
	}
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .3s ease;
		background-color: black;
	}
	.icon {
		color: white;
		font-size: 20px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;
	}
	.eyeicon {
		left: 30%;
	}
	.hearticon {
		right: 12%;
	}
}
.item {
	margin-top: 20px;
	color: $color18;
	&:hover {
		.overlay {
			opacity: 0.4;
		}
	}
	p{	
		color:var(--primaryTextColor)	
	}
}
.image_block{	
	display: flex;	
justify-content: center;	
}

/*-----------------------Produtsdetails-Page------------------------*/
.Banner_page .banner_text{
top:50%;
}
.banner_subpage {
	img {
		background: url('../css/banner-bg.png') no-repeat;
		display: table;
		height: 230px;
		position: relative;
		width: 100%;
		background-size: cover !important;
	}
	position: relative;
	text-align: center;
}
.banner_text {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: $color1;
	h1{	
		font-size: 35px;	
		//padding-bottom: 20px;	
		p {	
			padding-bottom:20px	
		}	
	}
}
.paddingT120 {
	padding-top: 20px;
}
.product_detial {
	.price {
		color: $color14;
		font-size: 24px;
		font-weight: bold;
		padding-top: 10px;
	}
	background-color: $color1;
	.cart {
		background: $color14;
		color: $color1;
		font-size: 14px;
		margin-bottom: 15px;
		border-color: $color14;
		border-radius: 5px;
		margin-top: 15px;
		padding: 10px 40px;
	}
	.add_cart {
		span {
			margin: 15px;
			padding: 10px;
			background-color: $bgColor11;
		}
	}
}
.product_desc {
	h2 {
		font-size: 26px;
		font-weight: bold;
	}
	#t1 {
		-moz-tab-size: 4;
		color: $color14;
		-o-tab-size: 4;
		tab-size: 4;
	}
	strong {
		color: $color18;
	}
	pre {
		background-color: $color1;
		font-size: 14px;
		border:none
	}
	.t2 {
		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;
	}
	#message {
		border-top: 1px dotted $color19;
		font-size: 12px;
		margin-top: 20px;
		color: $color18;
		padding-top: 20px;
		margin-bottom: 45px;
	}
}
@media only screen and (max-width: 786px) {
	.footer_block {
		h4 {
			margin-bottom: 38px;
		}
	}
	.list-unstyled {
		margin-bottom: 35px;
	}
	.footer_page {
		padding-top: 67px;
	}
	.margin-bottom {
		margin-bottom: 27px;
	}
	.copy {
		margin-top: 103px;
		margin-bottom: 66px;
	}
}
@media only screen and (max-width: 767px) {
	.banner_text{
		display:none
	}
	.banner_subpage img{
		height:125px;
	}
	ul.nav.navbar-nav.navbar-right {	
		a {	
		position: relative;	
		bottom: 19px;	
		}	
	}	
	.Products_page{	
		.col-md-2 {width: 100%;justify-content: center;}	
	 	.img-changes {width: 300px;margin: 0 auto;}	
	}	
	.banner_image {	
		img{min-height: 480px;height:auto;}	
	}
	.login_menu {
		ul {
			li {
				&:nth-child(even) {
					display: none;
					float: none;
				}
			}
		}
		text-align: center;
		display: flex;	
    	flex-direction: column;
	}
	.navbar-brand {
		>img {
			bottom: 0 !important;
		}
	}
	.top_nav {
		p {
			float: none !important;
			position: relative !important;
			left: 0px;
			top: 0px;
			font-size: 13px;
		}
	}
}
@media only screen 	
and (min-device-width : 768px) 	
and (max-device-width : 1024px)   {	
	.banner_image {	
		img {	
		height: auto;	
		min-height: 520px;	
		}	
}	
}